<!-- Hit Dice Modal -->
<div class="modal fade" id="hitDiceModal" tabindex="-1" aria-labelledby="hitDiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hitDiceModalLabel">Use Hit Dice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="hitDiceMessage" class="mb-3"></p>
                <div class="mb-3">
                    <label for="hitDiceCount" class="form-label">How many hit dice would you like to use?</label>
                    <input type="number" class="form-control" id="hitDiceCount" min="0" value="1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmHitDice">Roll Hit Dice</button>
            </div>
        </div>
    </div>
</div>
